:root{
    /* Cores da tela de login */
    --roxoClarinho: #bba9e0;
    --roxoClaro: #aa8ce5;
    --roxoEscuro: #3d2849;
}

 @font-face {
    font-family: 'oswald' ;
    src: url('Oswald-Light.ttf') format('truetype');
   }

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'oswald';
    background-image: url('img/backgroundDePata.png');
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--roxoClarinho); 
    padding: 0px;
    padding-top: 0px;

}

#SistemaDG{
    width: 40%;
    height:40%;
    position: absolute;
    top:-50px;
}

.quadroConta {
width: 40%;
height:60%;
background-color: var(--roxoClaro);
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
border-radius: 25px;
border: 2px solid var(--roxoEscuro);
padding: 0px;
padding-bottom: 50px;
z-index:3;



}

.quadroConta h6{
    margin-top:0;
    position: relative;
    left: -0px;
     color: var(--roxoEscuro);
}

.quadroConta h3{
    margin-top:10;
    position: relative;
    left: -10px;
    margin-bottom: 15px;
    padding: 10px;
    width: 80%;
     font-size: 25px;
    
   
}

.quadroConta h3, h1, a {
    color:var(--roxoEscuro);
}

.quadroConta a{
    position: relative;
    background-color: var(--roxoClaro);
    width:40%;
    border-radius: 30px;
    padding: 10px;
    border: 2px solid var(--roxoEscuro);
    text-align: center;
    font-family:'oswald';
    bottom: -110px;
    text-decoration:none;
}


.quadroConta a:hover{
    background-color: var(--roxoEscuro);
    color: var(--roxoClarinho);
    border: 2px solid var(--roxoClarinho);
    
}

#gatopreto1{
    top: 475px;
    left:930px;
    height:200px;
    
}

#gatopreto{
    top:25px;
    left:-40px;
    height:500px;
    font-size: 30px; 
}


img{
    position:absolute;
}

.gato {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 125px;
  height: 125px;
  background-image: url('img/gato.gif');
  background-size: contain;
  background-repeat: no-repeat;
  animation: andar 30s linear infinite;
  
}

@keyframes andar {
  0% {
    left: -100px;
    bottom:20px;
    transform: scaleX(1);
  }

  25% {
    left: 100vw;
    bottom:20px;
    transform: scaleX(1); /* Indo para a direita */
  }

  26% {
    bottom:300px;
    left:100vw;
    transform: scaleX(-1); /* Indo para a direita */
  }


  50% {
    bottom:300px;
    transform: scaleX(-1);
    left: -100px; /* Vira para voltar */
  }

  51% {
    bottom:600px;
    transform: scaleX(1);
    left: -100px; /* Vira para voltar */
  }

  75%{
    bottom:600px;
    transform: scaleX(1);
    left:100vw;
  }

  76%{
    bottom:20px;
    left: 100vw;
    transform: scaleX(-1);
  }



  100% {
    left: -100px;
    bottom:20px;
    transform: scaleX(-1);
  }
}


