:root{
    /* Cores da tela de login */
    --roxoClarinho: #bba9e0;
    --roxoClaro: #aa8ce5;
    --roxoEscuro: #3d2849;
}


body {
    margin: 0;
    padding: 0;
     background-image: url('/img/backgroundDePata.png');
}

@font-face {
    font-family: 'oswald' ;
    src: url('/font/Oswald-Bold.ttf') format('truetype') ;
   }

 @font-face {
    font-family: 'oswald1' ;
    src: url('/font/Oswald-Light.ttf') format(truetype)
   }

.container {
    position: relative;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
  
}


.quadrodadosgato{
    position: relative;
    width: 40%;
    height: 60vh;
    background-color:#aa8ce5 ;
    border-radius: 35px;
    padding: 8px;
    border: 2px solid var(--roxoEscuro);
    text-align: center;
    font-family:'oswald';
    bottom: 0px;
    text-decoration:none;
    left: 450px;
    top: 50px; 
    font-size: 42px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* sombra */
    font-family:'oswald1';
    box-shadow:  0 4px 10px rgba(0, 0, 0, 0.75);
    
}



.titulo-text {
    color: #3d2849; /* texto branco */
    font-size: 42px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* sombra */
    text-align: center;
    font-family:'oswald';
    
}

#texto-pergunta {
    color: #fff; /* texto branco */
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* sombra */
    text-align: center;
}

.seta-direita img{
    position: absolute;
    bottom: 20px; /* dist창ncia do fundo da tela */
    left: 1100px; /* dist창ncia da direita da tela */
    text-decoration: none;
    height: 150px;
}

.seta-esquerda img{
    position: absolute;
    bottom: 20px; /* dist창ncia do fundo da tela */
    left: 155px; /* dist창ncia da direita da tela */
    text-decoration: none;
    height: 150px;
}

#campoalimento{
    text-align:center;
    justify-content:center;
    align-items:center;
    width:100%;
    padding:20px;
    margin: 0 auto;
}

#alimento,#somenteracao,#tipoalimentos,#vomitando,#tipovomito,#jejum,#qtdjejum{
    text-align:center;
    margin:10px;
    width:500px;
    height:50px;
    font-size:30px;
    background-color: #fff;
    border-radius: 35px;
}

button{
    background-color: #f391eb;
    color:#f35295;
    font-size:30px;
    width:100px;
    transition: 0.3s;
    border-radius: 35px;
    position: relative;
    left:-15px;
    
}

button:hover{
    background-color:#f35295;
    color:#f391eb;
}

img{
    position:absolute;
    align-self: center;
    top: 350px; 
    left:650px;
}


#gatotransparente{
    top:472px;
    left:500px;
    height:130px;
}

