:root{
    /* Cores da tela de login */
    --roxoClarinho: #bba9e0;
    --roxoClaro: #aa8ce5;
    --roxoEscuro: #3d2849;
}

 @font-face {
    font-family: 'oswald' ;
    src: url('/font/Oswald-Bold.ttf') format('truetype') ;
   }

 @font-face {
    font-family: 'oswald1' ;
    src: url('/font/Oswald-Light.ttf') format(truetype)
   }

body {
    margin: 0;
    padding: 0;
     background-image: url('/img/backgroundDePata.png');
}

.container {
    position: relative;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
   
}

.quadrodadosgato{
    position: relative;
    width: 40%;
    height: 60vh;
    background-color:#aa8ce5 ;
    border-radius: 35px;
    padding: 8px;
    border: 2px solid var(--roxoEscuro);
    bottom: 0px;
    text-decoration:none;
    left: 450px;
    text-align: center;
    top: 30px; 
    color: #3d2849;
    font-size: 42px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* sombra */
    font-family:'oswald';
    box-shadow:  0 4px 10px rgba(0, 0, 0, 0.75);
    
}


.titulo-text {
    color: var(--roxoEscuro); /* texto branco */
    font-size: 42px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* sombra */
    text-align: center;
    font-family:'oswald';
}



#texto-pergunta {
    color: #fff; /* texto branco */
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* sombra */
    text-align: center;
    font-family: 'oswald1';
    position: relative;
    right: 20px;
    
}

.seta-direita img{
    position: absolute;
    bottom: 20px; /* distância do fundo da tela */
    right: -300px; /* distância da direita da tela */
    font-size: 2px;
    text-decoration: none;
    height: 150px;
}

.seta-esquerda img{
    position: absolute;
    bottom: 20px; /* distância do fundo da tela */
    left: -300px; /* distância da direita da tela */
    font-size: 100px;
    text-decoration: none;
    height: 150px;
}

#camponome{
    text-align:center;
    justify-content:center;
    align-items:center;
    width:100%;
    padding:20px;
    margin: 0 auto;
   
}

#nome,#sexo,#castrado,#idade,#peso{
    text-align:center;
    margin:10px;
    width:500px;
    height:50px;
    font-size:30px;
    background-color: #fff;
    border-radius: 35px;
    left:-15px;
    position: relative;
}

button{
    background-color: #f391eb;
    color:#f35295;
    font-size:30px;
    width:100px;
    transition: 0.3s;
    border-radius: 35px;
    position: relative;
    left:-15px;
    
}

button:hover{
    background-color:#f35295;
    color:#f391eb;
}


.nome-destaque {
    color: #ee597f; /* ou qualquer cor que você quiser */
    font-weight: bold;
  }

#gatopreguica{
    top:100px;
    left:-120px;
    height:290px;
    
}

#patadegato{
    top:350px;
    left:100px;
    height:90px;
   
    
}

#gatoTransparente{
     top:372px;
    left:140px;
    height:100px;
}

img{
    position:absolute;
}
