:root {
  --roxoClarinho: #bba9e0;
  --roxoClaro: #aa8ce5;
  --roxoEscuro: #3d2849;
}

 @font-face {
    font-family: 'oswald' ;
    src: url('/font/Oswald-Bold.ttf') format('truetype') ;
   }

 @font-face {
    font-family: 'oswald1' ;
    src: url('/font/Oswald-Light.ttf') format(truetype)
   }

body {
  margin: 0;
  font-family: "osvald", sans-serif;
  background-color: var(--roxoClarinho);
  color: var(--roxoEscuro);
  padding: 20px;
}

header {
  text-align: center;
  background-color: var(--roxoClaro);
  padding: 25px 10px;
  color: var(--roxoEscuro);
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
}

h3 {
  margin-top: 20px;
}

ul {
  margin-left: 20px;
}

.botao {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 25px;
  background-color: var(--roxoClaro);
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.botao:hover {
  background-color: var(--roxoEscuro);
  cursor: pointer;
}
