:root{
    /* Cores da tela de login */
    --roxoClarinho: #bba9e0;
    --roxoClaro: #aa8ce5;
    --roxoEscuro: #3d2849;
}

 @font-face {
    font-family: 'oswald' ;
    src: url('/font/Oswald-Light.ttf') format('truetype');
   }

body {
    margin: 0;
    padding: 0;
    font-family: 'oswald';
   
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: var(--roxoClarinho);  */
    background-image: url('/img/backgroundDePata.png');
    padding: 0;

}

.container h1{
    color:var(--roxoEscuro);
    margin-bottom: 40px;
}

.quadroConta {
width: 35%;
height: 70%;
background-color: var(--roxoClaro);
/* justify-content: center; */
align-items: center;
display: flex;
flex-direction: column;
border-radius: 25px;
border: 2px solid var(--roxoEscuro);
padding: 0px;
padding-bottom: 30px;

}

.quadroConta h6{
    margin-top:0;
    position: relative;
    left: -0px;
     color: var(--roxoEscuro);
}

.quadroConta h3{
    margin-top:0;
    position: relative;
    left: -100px;
    margin-bottom: 15px;
   
}

.quadroConta h3, h1, a {
    color:var(--roxoEscuro);
}

.container h1 {
   position: relative;
   top: 50px;
   font-size: 30px;
   font-family:'oswald';
}

#SistemaDG{
    width: 40%;
    height:40%;
    position: absolute;
    top:-50px;
}

.quadroConta input{
    background-color: var(--roxoClarinho);
    border-radius: 30px;
    padding: 10px;
    width: 50%;
    height: 5%;
    border: 2px solid var(--roxoEscuro);
}

.quadroConta a{
    position: relative;
    background-color: var(--roxoClarinho);
    width:20%;
    border-radius: 30px;
    padding: 8px;
    border: 2px solid var(--roxoEscuro);
    text-align: center;
    font-family:'oswald';
    bottom: 0px;
    text-decoration:none;
}


.quadroConta a:hover{
    background-color: var(--roxoEscuro);
    color: var(--roxoClarinho);
    border: 2px solid var(--roxoClarinho);
    
}

#nomecompleto{
    padding: 5px;
    width: 20%;
    height: 4%;
    font-size: 16px;
}

#emailvalido{
    padding: 5px;
    width: 20%;
    height: 4%;
    font-size: 16px;
}

#nomedeusuario{
    padding: 5px;
    width: 20%;
    height: 4%;
    font-size: 16px;
}

#senha{
    padding: 5px;
    width: 20%;
    height: 4%;
    font-size: 16px;
}

#comfirmacaodesenha{
    padding: 5px;
    width: 20%;
    height: 4%;
    font-size: 16px;
}

#gatoslendo{
    top:590px;
    left: 860px;
    height: 90px;
}



img{
    position:absolute;
}